src/main/webapp/DrupalSOAPAdapter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.drupal.glynlyon.com" xmlns:intf="http://soap.drupal.glynlyon.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.drupal.glynlyon.com">
	<wsdl:documentation>
		Service: DrupalSOAP
		Version: 0.1.2
		Owner: Preston Lee
	</wsdl:documentation>
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.drupal.glynlyon.com">

			<element name="customerCreate">
				<complexType>
					<sequence>
						<element name="customer" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>
			<element name="customerCreateResponse">
				<complexType>
					<sequence>
						<element name="customerCreateReturn" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>
            <element name="customerRetrieve">
				<complexType>
					<choice>
						<element name="drupal_id" type="xsd:string"/>
						<element name="gp_id" type="xsd:string"/>
						<element name="assist_id" type="xsd:string"/>
					</choice>
				</complexType>
            </element>
			<element name="customerRetrieveResponse">
				<complexType>
					<sequence>
						<element name="customerRetrieveReturn" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>

			<element name="customerUpdate">
				<complexType>
					<sequence>
						<element name="user" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>
			<element name="customerUpdateResponse">
				<complexType>
					<sequence>
						<element name="customerUpdateReturn" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>
			<element name="customersUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime"/>
					</sequence>
				</complexType>
			</element>
			<element name="customersUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="customersUpdatedSinceReturn" type="impl:customer"/>
					</sequence>
				</complexType>
			</element>

			<element name="productCreate">
				<complexType>
					<sequence>
						<element name="product" type="impl:product"/>
					</sequence>
				</complexType>
			</element>
			<element name="productCreateResponse">
				<complexType>
					<sequence>
						<element name="productCreateReturn" type="impl:product"/>
					</sequence>
				</complexType>
			</element>
			<element name="productRetrieve">
				<complexType>
					<sequence>
						<element name="sku" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="productRetrieveResponse">
				<complexType>
					<sequence>
						<element name="productRetrieveReturn" type="impl:product"/>
					</sequence>
				</complexType>
			</element>
			<element name="productUpdate">
				<complexType>
					<sequence>
						<element name="product" type="impl:product"/>
					</sequence>
				</complexType>
			</element>
			<element name="productUpdateResponse">
				<complexType>
					<sequence>
						<element name="productUpdateReturn" type="impl:product"/>
					</sequence>
				</complexType>
			</element>
			<element name="productsUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime"/>
					</sequence>
				</complexType>
			</element>
			<element name="productsUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="productsUpdatedSinceReturn" type="impl:product"/>
					</sequence>
				</complexType>
			</element>

			<element name="orderCreate">
				<complexType>
					<sequence>
						<element name="order" type="impl:order"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderCreateResponse">
				<complexType>
					<sequence>
						<element name="orderCreateReturn" type="impl:order"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderRetrieve">
				<complexType>
					<sequence>
						<element name="drupal_id" type="xsd:string"/>
						<element name="gp_id" type="xsd:string"/>
						<element name="assist_id" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderRetrieveResponse">
				<complexType>
					<sequence>
						<element name="orderRetrieveReturn" type="impl:order"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderUpdate">
				<complexType>
					<sequence>
						<element name="order" type="impl:order"/>
					</sequence>
				</complexType>
			</element>
			<element name="orderUpdateResponse">
				<complexType>
					<sequence>
						<element name="orderUpdateReturn" type="impl:order"/>
					</sequence>
				</complexType>
			</element>
			<element name="ordersUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime"/>
					</sequence>
				</complexType>
			</element>
			<element name="ordersUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="ordersUpdatedSinceReturn" type="impl:order"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="stringArray">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
				</sequence>
			</complexType>
			<simpleType name="positiveFloat">
				<restriction base="xsd:float">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
			<simpleType name="countryCode">
				<restriction base="xsd:string">
					<minLength value="0"/>
					<maxLength value="2"/>
				</restriction>
			</simpleType>
			<simpleType name="string8">
				<restriction base="xsd:string">
					<minLength value="0"/>
					<maxLength value="8"/>
				</restriction>
			</simpleType>
			<simpleType name="string16">
				<restriction base="xsd:string">
					<minLength value="0"/>
					<maxLength value="16"/>
				</restriction>
			</simpleType>
			<xsd:simpleType name="string32">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string64">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="64"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string128">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="128"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="string256">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="256"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="user">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="3"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>


			<xsd:simpleType name="addressType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="shipping"/>
					<xsd:enumeration value="billing"/>
					<xsd:enumeration value="rma"/>
				</xsd:restriction>
			</xsd:simpleType>
				
			<complexType name="address">
				<sequence>
					<element name="id" type="int"/>
					<element name="status" type="int"/>
					<element name="type" type="impl:addressType"/>
					<element name="first_name" type="impl:string32"/>
					<element name="last_name" type="impl:string32"/>
					<element name="address1" type="impl:string64"/>
					<element name="address2" nillable="true" type="impl:string64"/>
					<element name="city" type="impl:string32"/>
					<element name="state" nillable="true" type="impl:string32"/>
					<element name="country" type="impl:countryCode"/>
					<element name="postal_code" nillable="true" type="impl:string32"/>
					<element name="phone" type="impl:string16"/>
					<element name="email" type="impl:string64"/>
					<element name="new_to_home_schooling" type="xsd:boolean"/>
					<element name="payment_profile_identifiers" nillable="true" type="impl:stringArray"/>
					<element name="created" type="xsd:dateTime"/>
					<element name="updated" type="xsd:dateTime"/>
				</sequence>
			</complexType>

			<complexType name="lineItem">
				<sequence>
					<element name="uhh_not_sure" type="string"/>
				</sequence>
			</complexType>

			<simpleType name="cardType">
				<restriction base="xsd:string">
					<enumeration value="visa"/>
					<enumeration value="mastercard"/>
					<enumeration value="amex"/>
					<enumeration value="discover"/>
				</restriction>
			</simpleType>

			<complexType name="card">
				<sequence>
					<element name="id" type="int"/>
					<element name="payment_method" type="string"/>
					<element name="instance_id" type="string"/>
					<element name="remote_id" type="string"/>
					<element name="card_type" type="impl:cardType"/>
					<element name="card_name" type="string"/>
					<element name="card_number" type="int"/>
					<element name="card_exp_month" type="int"/>
					<element name="card_exp_year" type="int"/>
					<element name="status" type="int"/>
					<element name="profile_id" type="int"/>
					<element name="created" type="xsd:dateTime"/>
					<element name="updated" type="xsd:dateTime"/>
				</sequence>
			</complexType>

			<complexType name="customer">
				<sequence>
					<element name="id" type="int"/>
					<element name="user" type="impl:user"/>
					<element name="email" type="impl:string64"/>
					<element maxOccurs="unbounded" minOccurs="0" name="addresses" type="impl:address"/>
					<element maxOccurs="unbounded" minOccurs="0" name="cards" type="impl:card"/>
					<element name="created" type="xsd:dateTime"/>
					<element name="updated" type="xsd:dateTime"/>
				</sequence>
			</complexType>

			<complexType name="order">
				<sequence>
					<element name="todo_preston_and_rob" type="string"/>
					<element maxOccurs="unbounded" minOccurs="0" name="line_items" type="impl:lineItem"/>
					<element name="created" type="xsd:dateTime"/>
					<element name="updated" type="xsd:dateTime"/>
				</sequence>
			</complexType>

			<complexType name="product">
				<sequence>
					<element name="sku" type="impl:string16"/>
					<element name="title" type="impl:string256"/>
					<element name="status" type="impl:productStatus"/>
					<element name="product_id" nillable="true" type="xsd:int"/>
					<element name="product_type" nillable="true" type="impl:productType"/>
					<element name="subject" type="impl:string32"/>
					<element name="grade_level" type="impl:string16"/>
					<element name="price" type="xsd:int"/>
					<element name="msrp" type="xsd:int"/>
					<element name="long_description" type="impl:string128"/>
					<element name="product_image_url" nillable="true" type="xsd:string"/>
					<element name="free_shipping" type="xsd:boolean"/>
					<element name="dimension_length" nillable="true" type="impl:string8"/>
					<element name="dimension_width" nillable="true" type="impl:string8"/>
					<element name="dimension_height" nillable="true" type="impl:string8"/>
					<element name="dimension_unit" nillable="true" type="impl:string8"/>
					<element name="weight" type="impl:positiveFloat"/>
					<element name="weight_unit" nillable="true" type="impl:string8"/>
					<element name="virtual_only" type="xsd:boolean"/>
					<element name="tax_exempt" type="xsd:boolean"/>
					<element name="has_demo" type="xsd:boolean"/>
					<element name="on_demand" nillable="true" type="xsd:string"/>
					<element name="scope_sequence" nillable="true" type="xsd:string"/>
					<element name="science_supply" nillable="true" type="xsd:string"/>
					<element name="sample_pages" nillable="true" type="xsd:string"/>
					<element name="video_clips" nillable="true" type="xsd:string"/>
					<element name="audio_clips" nillable="true" type="xsd:string"/>
					<element name="published" type="xsd:boolean"/>
					<element name="avatax_code" nillable="true" type="impl:string16"/>
					<element name="upc" nillable="true" type="impl:string32"/>
					<element name="isbn" nillable="true" type="impl:string16"/>
					<element name="created" type="xsd:dateTime"/>
					<element name="updated" type="xsd:dateTime"/>
				</sequence>
			</complexType>

			<xsd:simpleType name="productType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="resource"/>
					<xsd:enumeration value="curriculum"/>
					<xsd:enumeration value="family_entertainment"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="productStatus">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="in_stock"/>
					<xsd:enumeration value="out_of_stock"/>
					<xsd:enumeration value="limited"/>
				</xsd:restriction>
			</xsd:simpleType>

        </schema>
	</wsdl:types>

	<wsdl:message name="customerCreateRequest">
		<wsdl:part element="impl:customerCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerCreateResponse">
		<wsdl:part element="impl:customerCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customerRetrieveRequest">
		<wsdl:part element="impl:customerRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerRetrieveResponse">
		<wsdl:part element="impl:customerRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customerUpdateRequest">
		<wsdl:part element="impl:customerUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerUpdateResponse">
		<wsdl:part element="impl:customerUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customersUpdatedSinceRequest">
		<wsdl:part element="impl:customersUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customersUpdatedSinceResponse">
		<wsdl:part element="impl:customersUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="orderCreateRequest">
		<wsdl:part element="impl:orderCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderCreateResponse">
		<wsdl:part element="impl:orderCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="orderRetrieveRequest">
		<wsdl:part element="impl:orderRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderRetrieveResponse">
		<wsdl:part element="impl:orderRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="orderUpdateRequest">
		<wsdl:part element="impl:orderUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderUpdateResponse">
		<wsdl:part element="impl:orderUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ordersUpdatedSinceRequest">
		<wsdl:part element="impl:ordersUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ordersUpdatedSinceResponse">
		<wsdl:part element="impl:ordersUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productCreateRequest">
		<wsdl:part element="impl:productCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productCreateResponse">
		<wsdl:part element="impl:productCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productRetrieveRequest">
		<wsdl:part element="impl:productRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productRetrieveResponse">
		<wsdl:part element="impl:productRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productUpdateRequest">
		<wsdl:part element="impl:productUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productUpdateResponse">
		<wsdl:part element="impl:productUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productsUpdatedSinceRequest">
		<wsdl:part element="impl:productsUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productsUpdatedSinceResponse">
		<wsdl:part element="impl:productsUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>


	<wsdl:portType name="DrupalSOAPAdapter">
		<wsdl:documentation>Drupal SOAP interface for client integration.</wsdl:documentation>

		<wsdl:operation name="customerCreate">
			<wsdl:input message="impl:customerCreateRequest" name="customerCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerCreateResponse" name="customerCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerRetrieve">
			<wsdl:input message="impl:customerRetrieveRequest" name="customerRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerRetrieveResponse" name="customerRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerUpdate">
			<wsdl:input message="impl:customerUpdateRequest" name="customerUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerUpdateResponse" name="customerUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersUpdatedSince">
			<wsdl:input message="impl:customersUpdatedSinceRequest" name="customersUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:customersUpdatedSinceResponse" name="customersUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="orderCreate">
			<wsdl:input message="impl:orderCreateRequest" name="orderCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderCreateResponse" name="orderCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderRetrieve">
			<wsdl:input message="impl:orderRetrieveRequest" name="orderRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderRetrieveResponse" name="orderRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderUpdate">
			<wsdl:input message="impl:orderUpdateRequest" name="orderUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderUpdateResponse" name="orderUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ordersUpdatedSince">
			<wsdl:input message="impl:ordersUpdatedSinceRequest" name="ordersUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:ordersUpdatedSinceResponse" name="ordersUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productCreate">
			<wsdl:input message="impl:productCreateRequest" name="productCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:productCreateResponse" name="productCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productRetrieve">
			<wsdl:input message="impl:productRetrieveRequest" name="productRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:productRetrieveResponse" name="productRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productUpdate">
			<wsdl:input message="impl:productUpdateRequest" name="productUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:productUpdateResponse" name="productUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsUpdatedSince">
			<wsdl:input message="impl:productsUpdatedSinceRequest" name="productsUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:productsUpdatedSinceResponse" name="productsUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="DrupalSOAPAdapterSoapBinding" type="impl:DrupalSOAPAdapter">

		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="customerCreate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="customerCreateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customerCreateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerRetrieve">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="customerRetrieveRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customerRetrieveResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerUpdate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="customerUpdateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customerUpdateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersUpdatedSince">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="customersUpdatedSinceRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customersUpdatedSinceResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderCreate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="orderCreateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="orderCreateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderRetrieve">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="orderRetrieveRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="orderRetrieveResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderUpdate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="orderUpdateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="orderUpdateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ordersUpdatedSince">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="ordersUpdatedSinceRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ordersUpdatedSinceResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="productCreate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="productCreateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="productCreateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productRetrieve">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="productRetrieveRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="productRetrieveResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productUpdate">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="productUpdateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="productUpdateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsUpdatedSince">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="productsUpdatedSinceRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="productsUpdatedSinceResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="DrupalSOAPAdapterService">
		<wsdl:port binding="impl:DrupalSOAPAdapterSoapBinding" name="DrupalSOAPAdapter">
			<wsdlsoap:address location="http://localhost:8080/drupal-soap-adapter/services/DrupalSOAPAdapter"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
