src/main/webapp/DrupalSOAPAdapter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.drupal.glynlyon.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.drupal.glynlyon.com"
	xmlns:intf="http://soap.drupal.glynlyon.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>
		Service: DrupalSOAP
		Owner: Preston Lee
	</wsdl:documentation>
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://soap.drupal.glynlyon.com" xmlns="http://www.w3.org/2001/XMLSchema">

			<element name="customerCreate">
				<complexType>
					<sequence>
						<element name="customer" type="impl:customer" />
					</sequence>
				</complexType>
			</element>
			<element name="customerCreateResponse">
				<complexType>
					<sequence>
						<element name="customerCreateReturn" type="impl:customer" />
					</sequence>
				</complexType>
			</element>
            <element name="customerRetrieve">
				<complexType>
					<choice>
						<element name="user_id" type="string" />
					</choice>
				</complexType>
            </element>
			<element name="customerRetrieveResponse">
				<complexType>
					<sequence>
						<element name="customerRetrieveReturn" type="impl:customer" />
					</sequence>
				</complexType>
			</element>

			<element name="customerUpdate">
				<complexType>
					<sequence>
						<element name="user" type="impl:customer" />
					</sequence>
				</complexType>
			</element>
			<element name="customerUpdateResponse">
				<complexType>
					<sequence>
						<element name="customerUpdateReturn" type="impl:customer" />
					</sequence>
				</complexType>
			</element>
			<element name="customersUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime" />
					</sequence>
				</complexType>
			</element>
			<element name="customersUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element name="customersUpdatedSinceReturn" type="impl:customer" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>


			<element name="lineItemCreate">
				<complexType>
					<sequence>
						<element name="lineItem" type="impl:lineItem" />
					</sequence>
				</complexType>
			</element>
			<element name="lineItemCreateResponse">
				<complexType>
					<sequence>
						<element name="lineItemCreateReturn" type="impl:lineItem" />
					</sequence>
				</complexType>
			</element>
            <element name="lineItemRetrieve">
				<complexType>
					<choice>
						<element name="user_id" type="string" />
					</choice>
				</complexType>
            </element>
			<element name="lineItemRetrieveResponse">
				<complexType>
					<sequence>
						<element name="lineItemRetrieveReturn" type="impl:lineItem" />
					</sequence>
				</complexType>
			</element>

			<element name="lineItemUpdate">
				<complexType>
					<sequence>
						<element name="user" type="impl:lineItem" />
					</sequence>
				</complexType>
			</element>
			<element name="lineItemUpdateResponse">
				<complexType>
					<sequence>
						<element name="lineItemUpdateReturn" type="impl:lineItem" />
					</sequence>
				</complexType>
			</element>
			<element name="lineItemsUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime" />
					</sequence>
				</complexType>
			</element>
			<element name="lineItemsUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element name="lineItemsUpdatedSinceReturn" type="impl:lineItem" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			
			<element name="orderCreate">
				<complexType>
					<sequence>
						<element name="order" type="impl:order" />
					</sequence>
				</complexType>
			</element>
			<element name="orderCreateResponse">
				<complexType>
					<sequence>
						<element name="orderCreateReturn" type="impl:order" />
					</sequence>
				</complexType>
			</element>
			<element name="orderRetrieve">
				<complexType>
					<sequence>
						<element name="order_id" type="xsd:string" />
						<!-- <element name="gp_id" type="xsd:string" />
						<element name="assist_id" type="xsd:string" /> -->
					</sequence>
				</complexType>
			</element>
			<element name="orderRetrieveResponse">
				<complexType>
					<sequence>
						<element name="orderRetrieveReturn" type="impl:order" />
					</sequence>
				</complexType>
			</element>
			<element name="orderUpdate">
				<complexType>
					<sequence>
						<element name="order" type="impl:order" />
					</sequence>
				</complexType>
			</element>
			<element name="orderUpdateResponse">
				<complexType>
					<sequence>
						<element name="orderUpdateReturn" type="impl:order" />
					</sequence>
				</complexType>
			</element>
			<element name="ordersUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="xsd:dateTime" />
					</sequence>
				</complexType>
			</element>
			<element name="ordersUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element name="ordersUpdatedSinceReturn" type="impl:order" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			
			<element name="productCreate">
				<complexType>
					<sequence>
						<element name="product" type="impl:product" />
					</sequence>
				</complexType>
			</element>
			<element name="productCreateResponse">
				<complexType>
					<sequence>
						<element name="productCreateReturn" type="impl:product" />
					</sequence>
				</complexType>
			</element>
			<element name="productRetrieve">
				<complexType>
					<sequence>
						<element name="sku" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="productRetrieveResponse">
				<complexType>
					<sequence>
						<element name="productRetrieveReturn" type="impl:product" />
					</sequence>
				</complexType>
			</element>
			<element name="productUpdate">
				<complexType>
					<sequence>
						<element name="product" type="impl:product" />
					</sequence>
				</complexType>
			</element>
			<element name="productUpdateResponse">
				<complexType>
					<sequence>
						<element name="productUpdateReturn" type="impl:product" />
					</sequence>
				</complexType>
			</element>
			<element name="productsUpdatedSince">
				<complexType>
					<sequence>
						<element name="date" type="dateTime"/>
					</sequence>
				</complexType>
			</element>
			<element name="productsUpdatedSinceResponse">
				<complexType>
					<sequence>
						<element name="productsUpdatedSinceReturn" type="impl:product"  minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>


			<simpleType name="countryCode">
				<restriction base="xsd:string">
					<minLength value="0" />
					<maxLength value="2" />
				</restriction>
			</simpleType>

			<simpleType name="user">
				<restriction base="string">
					<minLength value="3" />
					<maxLength value="20" />
				</restriction>
			</simpleType>


			<simpleType name="addressType">
				<restriction base="xsd:string">
					<enumeration value="shipping" />
					<enumeration value="billing" />
					<enumeration value="rma" />
				</restriction>
			</simpleType>
				
			<complexType name="address">
				<sequence>
					<element name="id" type="int" />
					<element name="status" type="int" />
					<element name="type" type="impl:addressType" />
					<element name="first_name" type="string" />
					<element name="last_name" type="string" />
					<element name="address1" type="string" />
					<element name="address2" nillable="true" type="string" />
					<element name="city" type="string" />
					<element name="state" nillable="true" type="string" />
					<element name="country" type="impl:countryCode" />
					<element name="postal_code" nillable="true" type="string" />
					<element name="phone" type="string" />
					<element name="email" type="string" />
					<element name="new_to_home_schooling" type="boolean" />
					<element name="payment_profile_identifiers" type="string" minOccurs="0" maxOccurs="unbounded" />
					<element name="created" type="dateTime" />
					<element name="updated" type="dateTime" />
				</sequence>
			</complexType>

			<simpleType name="cardType">
				<restriction base="string">
					<enumeration value="visa" />
					<enumeration value="mastercard" />
					<enumeration value="amex" />
					<enumeration value="discover" />
				</restriction>
			</simpleType>

			<complexType name="card">
				<all>
					<element name="id" type="int" />
					<element name="payment_method" type="string" />
					<element name="instance_id" type="string" />
					<element name="remote_id" type="string" />
					<element name="card_type" type="impl:cardType" />
					<element name="card_name" type="string" />
					<element name="card_number" type="int" />
					<element name="card_exp_month" type="int" />
					<element name="card_exp_year" type="int" />
					<element name="status" type="int" />
					<element name="profile_id" type="int" />
					<element name="created" type="dateTime" />
					<element name="updated" type="xsd:dateTime" />
				</all>
			</complexType>

			<complexType name="customer">
				<all>
					<element name="uid" nillable="true"  type="int" />
					<element name="name" type="string" />
					<element name="mail" type="string" />
					<element name="theme" nillable="true"  type="string" />
					<element name="signature" nillable="true"  type="string" />
					<element name="signature_format" nillable="true"  type="string" />
					<element name="created" nillable="true"  type="dateTime" />
					<element name="access" nillable="true"  type="dateTime" />
					<element name="login" nillable="true"  type="dateTime" />
					<element name="status" type="string" />
					<element name="timezone" nillable="true"  type="string" />
					<element name="init" nillable="true"  type="string" />
					<element name="uuid" nillable="true" type="string" />
				</all>
			</complexType>

			<complexType name="customerBilling">
				<sequence>
					<element name="profile_id" type="string"  minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</complexType>
	
			<complexType name="customerShipping">
				<sequence>
					<element name="profile_id" type="string"  minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</complexType>

			<complexType name="lineItem">
				<sequence>
					<element name="line_item_id" type="int" />
					<element name="order_id" type="int" />
					<element name="type" type="string" />
					<element name="line_item_label" type="string" />
					<element name="quantity" type="string" />
					<element name="created" type="dateTime" />
					<element name="changed" type="dateTime" />
					<element name="line_item_title" type="string" />
					<element name="commerce_unit_price_formatted" type="string" />
					<element name="commerce_total_formatted" type="string" />
				</sequence>
			</complexType>

			<complexType name="order">
				<sequence>
					<element name="orderNumber" type="int" />
					<element name="revisionId" type="int" />
					<element name="revisionUid" type="int" />
					<element name="mail" type="string" />
					<element name="status" type="string" />
					<element name="log" type="string" />
					<element name="revisionTimestamp" type="dateTime" />
					<element name="revisionHostname" type="string" />
<!-- 					<element name="data" type="impl:orderData" /> -->
					<element name="orderId" type="string" />
					<element name="type" type="string" />
					<element name="uid" type="int" />
					<element name="created" type="dateTime" />
					<element name="changed" type="dateTime" />
					<element name="hostname" type="string" />
 					<element name="fieldSalesRepId" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded" />
  					<element name="fieldAopOrderNumber" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded" />
 					<element name="fieldActivationCodes" type="string" minOccurs="0" maxOccurs="unbounded" />
 					<element name="commerceOrderTotalFormatted" type="string" />
 					<element name="commerceDiscounts" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded" />
<!--  					<element name="commerceOrderTotal" type="impl:orderTotal" /> -->
<!--
   					<element name="commerceCustomerBilling" nillable="true" type="impl:customerBilling" minOccurs="0" maxOccurs="unbounded" />
  					<element name="commerceCustomerShipping" nillable="true" type="impl:customerShipping" minOccurs="0" maxOccurs="unbounded"  />
  					<element name="commerceLineItems" nillable="true" type="impl:lineItem" minOccurs="0" maxOccurs="unbounded" />
 -->

  					<element name="commerceCustomerBilling" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded" />
 					<element name="commerceCustomerShipping" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded"  />
 					<element name="commerceLineItems" nillable="true" type="string" minOccurs="0" maxOccurs="unbounded" />

 				</sequence>
			</complexType>

			<complexType name="orderTotal">
				<all>
					<element name="amount" type="int" />
					<element name="currencyCode" type="string" />
				</all>
			</complexType>

			<complexType name="orderData">
				<all>
					<element name="lastCartRefresh" type="dateTime" />
					<element name="paymentMethod" type="string" />
				</all>
			</complexType>
			
			<complexType name="product">
				<all>
					<element name="revision_id" nillable="true" type="int" />
					<element name="sku" type="string" />
					<element name="title" type="string" />
					<element name="revision_uid" nillable="true" type="int" />
					<element name="status" type="int" />
<!--
 					<element name="status" type="impl:productStatus" />
-->
					<element name="log" nillable="true" type="string" />
					<element name="revision_timestamp" nillable="true" type="dateTime" />
					<element name="data" nillable="true" type="boolean" />
					<element name="product_id" nillable="true" type="int" />
					<element name="product_type" type="impl:productType" />
					<element name="language" nillable="true" type="string" />
					<element name="uid" nillable="true" type="int" />
					<element name="created" nillable="true" type="dateTime" />
					<element name="changed" nillable="true"  type="dateTime" />
					<element name="title_original" nillable="true" type="string" />
					<element name="commerce_price_formatted" nillable="true" type="string" />

<!--
 					<element name="subject" type="impl:string32" />
					<element name="grade_level" type="impl:string16" />
					<element name="price" type="xsd:int" />
					<element name="msrp" type="xsd:int" />
					<element name="long_description" type="impl:string128" />
					<element name="product_image_url" nillable="true" type="xsd:string" />
					<element name="free_shipping" type="xsd:boolean" />
					<element name="dimension_length" nillable="true" type="impl:string8" />
					<element name="dimension_width" nillable="true" type="impl:string8" />
					<element name="dimension_height" nillable="true" type="impl:string8" />
					<element name="dimension_unit" nillable="true" type="impl:string8" />
					<element name="weight" type="impl:positiveFloat" />
					<element name="weight_unit" nillable="true" type="impl:string8" />
					<element name="virtual_only" type="xsd:boolean" />
					<element name="tax_exempt" type="xsd:boolean" />
					<element name="has_demo" type="xsd:boolean" />
					<element name="on_demand" nillable="true" type="xsd:string" />
					<element name="scope_sequence" nillable="true" type="xsd:string" />
					<element name="science_supply" nillable="true" type="xsd:string" />
					<element name="sample_pages" nillable="true" type="xsd:string" />
					<element name="video_clips" nillable="true" type="xsd:string" />
					<element name="audio_clips" nillable="true" type="xsd:string" />
					<element name="published" type="xsd:boolean" />
					<element name="avatax_code" nillable="true" type="impl:string16" />
					<element name="upc" nillable="true" type="impl:string32" />
					<element name="isbn" nillable="true" type="impl:string16" />
-->
				</all>
			</complexType>

			<simpleType name="productType">
				<restriction base="xsd:string">
					<enumeration value="resource" />
					<enumeration value="curriculum" />
					<enumeration value="family_entertainment" />
				</restriction>
			</simpleType>

<!-- 			<xsd:simpleType name="productStatus">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="in_stock" />
					<xsd:enumeration value="out_of_stock" />
					<xsd:enumeration value="limited" />
				</xsd:restriction>
			</xsd:simpleType>
 -->
        </schema>
	</wsdl:types>

	<wsdl:message name="customerCreateRequest">
		<wsdl:part element="impl:customerCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerCreateResponse">
		<wsdl:part element="impl:customerCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customerRetrieveRequest">
		<wsdl:part element="impl:customerRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerRetrieveResponse">
		<wsdl:part element="impl:customerRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customerUpdateRequest">
		<wsdl:part element="impl:customerUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerUpdateResponse">
		<wsdl:part element="impl:customerUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="customersUpdatedSinceRequest">
		<wsdl:part element="impl:customersUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customersUpdatedSinceResponse">
		<wsdl:part element="impl:customersUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="lineItemCreateRequest">
		<wsdl:part element="impl:lineItemCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="lineItemCreateResponse">
		<wsdl:part element="impl:lineItemCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="lineItemRetrieveRequest">
		<wsdl:part element="impl:lineItemRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="lineItemRetrieveResponse">
		<wsdl:part element="impl:lineItemRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="lineItemUpdateRequest">
		<wsdl:part element="impl:lineItemUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="lineItemUpdateResponse">
		<wsdl:part element="impl:lineItemUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="lineItemsUpdatedSinceRequest">
		<wsdl:part element="impl:lineItemsUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="lineItemsUpdatedSinceResponse">
		<wsdl:part element="impl:lineItemsUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="orderCreateRequest">
		<wsdl:part element="impl:orderCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderCreateResponse">
		<wsdl:part element="impl:orderCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="orderRetrieveRequest">
		<wsdl:part element="impl:orderRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderRetrieveResponse">
		<wsdl:part element="impl:orderRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="orderUpdateRequest">
		<wsdl:part element="impl:orderUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="orderUpdateResponse">
		<wsdl:part element="impl:orderUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ordersUpdatedSinceRequest">
		<wsdl:part element="impl:ordersUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ordersUpdatedSinceResponse">
		<wsdl:part element="impl:ordersUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productCreateRequest">
		<wsdl:part element="impl:productCreate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productCreateResponse">
		<wsdl:part element="impl:productCreateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productRetrieveRequest">
		<wsdl:part element="impl:productRetrieve" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productRetrieveResponse">
		<wsdl:part element="impl:productRetrieveResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productUpdateRequest">
		<wsdl:part element="impl:productUpdate" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productUpdateResponse">
		<wsdl:part element="impl:productUpdateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="productsUpdatedSinceRequest">
		<wsdl:part element="impl:productsUpdatedSince" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="productsUpdatedSinceResponse">
		<wsdl:part element="impl:productsUpdatedSinceResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>


	<wsdl:portType name="DrupalSOAPAdapter">
		<wsdl:documentation>Drupal SOAP interface for client integration.</wsdl:documentation>

		<wsdl:operation name="customerCreate">
			<wsdl:input message="impl:customerCreateRequest" name="customerCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerCreateResponse" name="customerCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerRetrieve">
			<wsdl:input message="impl:customerRetrieveRequest" name="customerRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerRetrieveResponse" name="customerRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerUpdate">
			<wsdl:input message="impl:customerUpdateRequest" name="customerUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:customerUpdateResponse" name="customerUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersUpdatedSince">
			<wsdl:input message="impl:customersUpdatedSinceRequest" name="customersUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:customersUpdatedSinceResponse" name="customersUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="lineItemCreate">
			<wsdl:input message="impl:lineItemCreateRequest" name="lineItemCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:lineItemCreateResponse" name="lineItemCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemRetrieve">
			<wsdl:input message="impl:lineItemRetrieveRequest" name="lineItemRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:lineItemRetrieveResponse" name="lineItemRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemUpdate">
			<wsdl:input message="impl:lineItemUpdateRequest" name="lineItemUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:lineItemUpdateResponse" name="lineItemUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemsUpdatedSince">
			<wsdl:input message="impl:lineItemsUpdatedSinceRequest" name="lineItemsUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:lineItemsUpdatedSinceResponse" name="lineItemsUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="orderCreate">
			<wsdl:input message="impl:orderCreateRequest" name="orderCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderCreateResponse" name="orderCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderRetrieve">
			<wsdl:input message="impl:orderRetrieveRequest" name="orderRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderRetrieveResponse" name="orderRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderUpdate">
			<wsdl:input message="impl:orderUpdateRequest" name="orderUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:orderUpdateResponse" name="orderUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ordersUpdatedSince">
			<wsdl:input message="impl:ordersUpdatedSinceRequest" name="ordersUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:ordersUpdatedSinceResponse" name="ordersUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productCreate">
			<wsdl:input message="impl:productCreateRequest" name="productCreateRequest">
			</wsdl:input>
			<wsdl:output message="impl:productCreateResponse" name="productCreateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productRetrieve">
			<wsdl:input message="impl:productRetrieveRequest" name="productRetrieveRequest">
			</wsdl:input>
			<wsdl:output message="impl:productRetrieveResponse" name="productRetrieveResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productUpdate">
			<wsdl:input message="impl:productUpdateRequest" name="productUpdateRequest">
			</wsdl:input>
			<wsdl:output message="impl:productUpdateResponse" name="productUpdateResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsUpdatedSince">
			<wsdl:input message="impl:productsUpdatedSinceRequest" name="productsUpdatedSinceRequest">
			</wsdl:input>
			<wsdl:output message="impl:productsUpdatedSinceResponse" name="productsUpdatedSinceResponse">
			</wsdl:output>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="DrupalSOAPAdapterSoapBinding" type="impl:DrupalSOAPAdapter">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="customerCreate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customerCreateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customerCreateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerRetrieve">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customerRetrieveRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customerRetrieveResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customerUpdate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customerUpdateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customerUpdateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersUpdatedSince">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customersUpdatedSinceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customersUpdatedSinceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="lineItemCreate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="lineItemCreateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="lineItemCreateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemRetrieve">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="lineItemRetrieveRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="lineItemRetrieveResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemUpdate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="lineItemUpdateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="lineItemUpdateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lineItemsUpdatedSince">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="lineItemsUpdatedSinceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="lineItemsUpdatedSinceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="orderCreate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="orderCreateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="orderCreateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderRetrieve">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="orderRetrieveRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="orderRetrieveResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="orderUpdate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="orderUpdateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="orderUpdateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ordersUpdatedSince">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="ordersUpdatedSinceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ordersUpdatedSinceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="productCreate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="productCreateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productCreateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productRetrieve">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="productRetrieveRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productRetrieveResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productUpdate">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="productUpdateRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productUpdateResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsUpdatedSince">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="productsUpdatedSinceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productsUpdatedSinceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="DrupalSOAPAdapterService">
		<wsdl:port binding="impl:DrupalSOAPAdapterSoapBinding" name="DrupalSOAPAdapter">
			<wsdlsoap:address location="http://localhost:8080/drupal-soap-adapter/adapter" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
